.itemDescription{
    width: 300px;
    height: 200px;
}
.panel-shadow{
    padding: 20px;
    box-shadow: 10px 10px 5px #606060;
    border-radius: 0px;
}
.btn-gold{
    background-color: #ffcc00;
    font-family: "Gill Sans";
    color: #1b1b1b;
    font-size: 18px;
    padding: 4px;
}
.btn-gold:hover{
    background-color: #1b1b1b;
    color: #ffcc00;
}
.btn-black{
    background-color: #1b1b1b;
    font-family: "Gill Sans";
    color: #ffcc00;
    font-size: 18px;
    padding: 4px;
}
.btn-black:hover{
    background-color: #ffcc00;
    color: #1b1b1b;
}

.navbar-gold{
    background-color: #ffcc00;
    border-color: #ffcc00;
    height: 30px;
    color: #000000;
    font-size: 19px;
    font-family: "Gill Sans";
}
.navbar-gold-collapse{
    background-color: #ffcc00;

}
.body{
    background-color: #dbdbdb;
}

.navbar-gold .navbar-brand:hover,
.navbar-gold .navbar-brand:focus {
    color: #43cb00;
    background-color: transparent;
}
.navbar-gold .navbar-text {
    color: #000000;
}
.navbar-gold .navbar-nav > li > a {
    color: #000000;
}
.navbar-gold .navbar-nav > li > a:hover,
.navbar-gold .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-gold .navbar-nav > .active > a,
.navbar-gold .navbar-nav > .active > a:hover,
.navbar-gold .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #080808;
}
.navbar-gold .navbar-nav > .disabled > a,
.navbar-gold .navbar-nav > .disabled > a:hover,
.navbar-gold .navbar-nav > .disabled > a:focus {
    color: #000000;
    background-color: transparent;
}
.navbar-gold .navbar-toggle {
    border-color: #000000;
}
.navbar-gold .navbar-toggle:hover,
.navbar-gold .navbar-toggle:focus {
    background-color: #000000;
}
.navbar-gold .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-gold .navbar-collapse,
.navbar-gold .navbar-form {
    border-color: #101010;
}
.navbar-gold .navbar-nav > .open > a,
.navbar-gold .navbar-nav > .open > a:hover,
.navbar-gold .navbar-nav > .open > a:focus {
    color: #000000;
    background-color: #080808;
}
@media (max-width: 767px) {
    .navbar-gold .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }
    .navbar-gold .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808;
    }
    .navbar-gold .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
    }
    .navbar-gold .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-gold .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: transparent;
    }
    .navbar-gold .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-gold .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-gold .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #080808;
    }
    .navbar-gold .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-gold .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-gold .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }
}
.navbar-gold .navbar-link {
    color: #000000;
}
.navbar-gold .navbar-link:hover {
    color: #fff;
}
.navbar-gold .btn-link {
    color: #000000;
}
.navbar-gold .btn-link:hover,
.navbar-gold .btn-link:focus {
    color: #fff;
}
.navbar-gold .btn-link[disabled]:hover,
fieldset[disabled] .navbar-gold .btn-link:hover,
.navbar-gold .btn-link[disabled]:focus,
fieldset[disabled] .navbar-gold .btn-link:focus {
    color: #444;
}
.field-title{
    font-family: "Gill Sans";
}
.page-title{
    font-family: Futura;
}
.pagination-gold {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination-gold > li {
    display: inline;
}
.pagination-gold > li > a,
.pagination-gold > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #1b1b1b;
    text-decoration: none;
    background-color: #ffcc00;
    border: 1px solid #ddd;
}
.pagination-gold > li:first-child > a,
.pagination-gold > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination-gold > li:last-child > a,
.pagination-gold > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination-gold > li > a:hover,
.pagination-gold > li > span:hover,
.pagination-gold > li > a:focus,
.pagination-gold > li > span:focus {
    z-index: 2;
    color: #1b1b1b;
    background-color: #ffcc00;
    border-color: #ddd;
}
.pagination-gold > .active > a,
.pagination-gold > .active > span,
.pagination-gold > .active > a:hover,
.pagination-gold > .active > span:hover,
.pagination-gold > .active > a:focus,
.pagination-gold > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #1b1b1b;
    border-color: #ffcc00;
}
.pagination-gold > .disabled > span,
.pagination-gold > .disabled > span:hover,
.pagination-gold > .disabled > span:focus,
.pagination-gold > .disabled > a,
.pagination-gold > .disabled > a:hover,
.pagination-gold > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.pagination-gold-lg > li > a,
.pagination-gold-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}
.pagination-gold-lg > li:first-child > a,
.pagination-gold-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.pagination-gold-lg > li:last-child > a,
.pagination-gold-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.pagination-gold-sm > li > a,
.pagination-gold-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.pagination-gold-sm > li:first-child > a,
.pagination-gold-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.pagination-gold-sm > li:last-child > a,
.pagination-gold-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.rd{
    color: #c6252a;
}
.scrollable-list {
    /* http://stackoverflow.com/questions/19227496/scrollable-menu-with-bootstrap-3-menu-expanding-its-container-when-it-should-n */
    height: auto;
    max-height: 120px;
    overflow-x: hidden;
}